.bio {
    margin-top: 4rem;
    margin-bottom: 4rem;
    margin-left: 6rem;
    text-align: left;
}

.row {
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
}

.col-lg-7 {
    display: flex;
    justify-content: center;
}

h2 {
    color: #00072C;
    font-size: 40px !important;
}

h3 {
    color: #1e1e1e;
    font-weight: 200;
    font-size: 40 !important;
}

h5 {
    text-align: center;
}

.home-section {
    display: flex;
    justify-content: center;
}

.blurb {
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 4rem;
    max-width: 90%;
    justify-content: center;
    align-content: center;
    background-color: #00072C;
    color: white;
    border-radius: 10px;
}

.btn-blurb {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.headshot {
    height: 90%;
    justify-content: center;
}